#container {
	margin: 1em;
	font-size: 1.5em;
	background: #eee;
	border-radius: 5px;
	padding: 1.5em;
}

.warning {
	background: #f80;
	bottom: 0;
	color: #fff;
	left: 0;
	opacity: 1;
	padding: 1.5em;
	position: fixed;
	right: 50%;
	z-index: 100;
}
