*,
*::before,
*::after { 
	box-sizing: border-box;
}

main {
	margin: 10px;
}

/** Spinner **/
svg.spinner {
	animation: 2s linear infinite svg-animation;
	max-width: 100px;
}
@keyframes svg-animation {
	0% { transform: rotateZ(0deg); }
	100% { transform: rotateZ(360deg) }
}
svg.spinner > circle {
	animation: 1.4s ease-in-out infinite both circle-animation;
	display: block;
	fill: transparent;
	stroke: #2f3d4c;
	stroke-linecap: round;
	stroke-dasharray: 283;
	stroke-dashoffset: 280;
	stroke-width: 10px;
	transform-origin: 50% 50%;
}
@keyframes circle-animation {
	0%,
	25% { stroke-dashoffset: 280; transform: rotate(0); }
	50%,
	75% { stroke-dashoffset: 75; transform: rotate(45deg); }
	100% { stroke-dashoffset: 280; transform: rotate(360deg); }
}

.input-sizer {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	font: inherit;
}
.input-sizer::after,
.input-sizer input {
	width: 100%;
	min-width: 0;
	font: inherit;
	padding: 0px;
	margin: 0;
	resize: none;
	background: none;
	border: none;
}
.input-sizer::after {
	content: attr(data-value);
	visibility: hidden;
	white-space: pre-wrap;
	height: 0;
}
.input-sizer input:invalid {
	background-color: lightpink;
}
